#g2Form{


    hr{
        border-top: 1px solid;
        position: absolute;
        width: 100%;

    }
    hr.valid{
        border-color: $coral;
    }
    hr.invalid{
        border-color: $grey-200;
    }
    hr#active{
        border-color: $coral;
        margin-top:24px
    }
    hr#inactive{
        margin-top:24px
    }
    
}